<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "photobocal.png", height: 50 %>
  <% end %>
  <div class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= button_to('Déconnexion', destroy_user_session_path, :method => :delete, class: "navbar-link navbar-right") %>
      <% if current_user.admin %>
        <%= link_to "Admin", rails_admin_path, class: "navbar-link" %>
      <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-link" %>
    <% end %>
  </div>

</div>

