<div class="modal fade" id="ShareAlbum" tabindex="-1" role="dialog" aria-labelledby="ShareAlbumLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class= "list-users">
            <%= simple_form_for(@users_album) do |f| %>
              <%= f.error_notification %>
              <%= f.association :user, collection: User.where(admin: false), label: "Partager avec", as: :check_boxes, checked: @already_shared %>
              <%= f.input_field :album, as: :hidden, value: @album.id %>
          </div>
              <%= f.submit class: "btn", value: "Partager album"%>
              <%= f.submit class: "btn", value: "Partager tout"%>
            <% end %>
      </div>
    </div>
  </div>
</div>
