<div class="home-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1"><br><br>
        <div class= "card-year">
          <%= link_to root_path do %>
            ◀ <%= @year %>
          <% end %>
        </div>
        <div class= "margin"></div>
        <div class= "list-albums">
          <% @user_year_albums.each do |album| %>
            <% if album.id == params[:id].to_i %>
              <div class= "link-album selected">
            <% else %>
              <div class= "link-album">
            <% end %>
            <%= link_to album_path(album, 1) do %>
              <%= "#{album.day}/#{album.month}/#{album.year}" %><br>
              <%=album.title %>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      <div class="col-xs-7"><br><br>
        <div class= "link-nav">
          <% if params[:format].to_i>1 %>
            <%= link_to "◀", album_path(@album, params[:format].to_i-1) %>
          <% else %>
            ◀
          <% end %>
            <span class= "num"><%= params[:format] %></span>
          <% if params[:format].to_i < @album.size %>
            <%= link_to "▶", album_path(@album, params[:format].to_i+1) %><br>
          <% else %>
            ▶
          <% end %>
        </div>
          <%= render 'shared/share' %>
          <% if current_user.admin %>
            <div data-toggle = "modal" data-target = "#ShareAlbum" class = "share-album" >
              ⇪
            </div>
          <% end %>
        <div class= "media">
          <% if @album.extension == "mp4" || @album.extension == "MP4" || @album.extension == "mov" || @album.extension == "MOV" %>
            <%= video_tag (@media_url), controls: true, width: '800' %>
          <% else %>
            <%= link_to @media_url, target: "_blank" do %>
              <%= image_tag @media_url, height: '100%', width: '100%' %>
            <% end %>
          <% end %>
        </div>
        <div class= "link-nav-small">
          <% nb = 1 %>
          <% while nb <= @album.size %>
              <% if nb == params[:format].to_i %>
                <%= "[#{nb}]" %>
              <% else %>
                <%= link_to nb, album_path(@album, nb) %>
              <% end %>
            <% nb += 1 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
